<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultATDWIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider" patch:source="Sitecore.FXM.Lucene.DomainsSearch.DefaultIndexConfiguration.config">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              <!--Include all ATDW templates in the index, import settings, category and the product templates-->
              <ImportSettings>{7C76BA40-8B07-48E3-9666-27BFFEDBB86A}</ImportSettings>
              <AccomodationProductsParent>{35E7AE65-EB84-4EED-9954-6D4579F2409B}</AccomodationProductsParent>
              <ProductACCOMM>{BD56EFBB-F3E2-47A0-8EC4-4006732CE1D4}</ProductACCOMM>
              <AttractionProductsParent>{B4DBB8F1-5E3E-4048-8A3D-259EE37421B0}</AttractionProductsParent>
              <ProductATTRACTION>{6F54BE0F-596D-42E6-9591-BD731EB00F13}</ProductATTRACTION>
            </include>
            <include hint="list:AddIncludedField">
              <!--Include all the fields that we want to be available for the search-->
              <ProductId>{7C5FF8C8-30BD-4665-97B2-5D28CEB48805}</ProductId>
              <ProductNumber>{C5D1AF3D-BC7A-49C7-A53E-0BE11CAC707B}</ProductNumber>
              <Status>{12E39F93-8D23-45EA-A365-0C52E2661BB3}</Status>
              <ProductName>{455A3E98-A627-4B40-8035-E683A0331AC7}</ProductName>
              <ProductDescription>{45FB93AF-3459-4565-B23D-13ADC9141063}</ProductDescription>
              <ProductCategoryId>{578F8F2B-0CFE-4F48-A5C2-539F6C6C1F0F}</ProductCategoryId>
              <ProductUpdateDate>{4FCEE409-D737-413A-BE11-FE7C10F63420}</ProductUpdateDate>
              <OwningOrganisationId>{3BFDE13A-5C64-4FC0-A492-403C625100B2}</OwningOrganisationId>
              <OwningOrganisationNumber>{52B607A0-FC58-4759-BD79-EB9C8A8737EE}</OwningOrganisationNumber>
              <OwningOrganisationName>{ED75AC04-3712-4726-8CCD-032661E48FC0}</OwningOrganisationName>
            </include>
            <!--<field hint="raw:AddComputedIndexField">
              <field fieldName="urllink"  storageType="YES" indexType="NO">TAC.Utils.Search.UrlComputedField,TAC.Utils</field>
            </field>-->
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- How fields should be indexed -->
              <field fieldName="_templatename" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <!--Custom field name-->
              <field fieldName="productid" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="productnumber" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="status" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="productname" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="productdescription" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="productcategoryId" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="productupdatedate" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="owningorganisationid" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="owningorganisationnumber" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <field fieldName="owningorganisationname" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>
              <!--<field fieldName="date" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>-->
              <!--<field fieldName="urllink" storageType="YES" indexType="NO" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
              </field>-->
            </fieldNames>
          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType" />
        </defaultATDWIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>

