<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Content Pages ID's-->
      <setting name="HomePageID" value="{54780A9B-2410-4EDE-83CC-15FAFBBC3A0D}"/>
      <setting name="EventsLandingPageID" value="{345A743C-1E1F-45F7-9A5F-68C3C833C647}"/>
      <setting name="ProjectSettingsPageID" value="{68E0E162-87DE-412F-B073-FADCC5BA2562}"/>
      <setting name="SiteSettingsPageID" value="{64DC438A-AB43-4AC4-95B9-65E3CAB22F26}"/>
      <!--Content Page Template ID's-->
      <setting name="HomeTemplateID" value="{0A1DE09E-3A00-4907-B9F0-C7008A48983C}"/>
      <setting name="EventsLandingTemplateID" value="{178F6FDF-86AF-41F7-9C8A-2897BFE9865B}"/>
      <setting name="ProjectSettingsTemplateID" value="{0DFA179E-2569-448C-9060-1DFEC2912A3F}"/>
      <setting name="SiteSettingsTemplateID" value="{62D8DB50-8B44-46CA-A527-511678079DF6}"/>
      <!--Templates IDs-->
      <setting name="EventsDetailsTemplateID" value="{CEF42B76-39DC-4D4D-BFB5-D07C16D7738C}"/>
      <setting name="EventsListingTemplateID" value="{88BBC136-0407-4872-BFE7-02B3EBFBDCE7}"/>
      
      <!--EventsImporter Workflow IDs-->
      <setting name="EIWorkflowID" value="{130DF231-F5BA-4F9C-80A1-31F10343EB63}"/>
      <setting name="EIWorkflowStateCreatedID" value="{C1C6DDFC-BB02-4729-AB0D-D3B12D2D2C10}"/>
      <setting name="EIWorkflowStateFinalID" value="{78EDA66A-CE49-494F-9F9A-882AADF90B65}"/>
    </settings>
  </sitecore>
</configuration>