<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Content Pages IDs-->
      <setting name="HomePageID" value="{54780A9B-2410-4EDE-83CC-15FAFBBC3A0D}"/>
      <setting name="EventsLandingPageID" value="{345A743C-1E1F-45F7-9A5F-68C3C833C647}"/>
      <!--Templates IDs-->
      <setting name="EventsDetailsTemplateID" value="{CEF42B76-39DC-4D4D-BFB5-D07C16D7738C}"/>
      <setting name="EventsListingTemplateID" value="{88BBC136-0407-4872-BFE7-02B3EBFBDCE7}"/>
      <!--EventsImporter Workflow IDs-->
      <setting name="EIWorkflowID" value="{130DF231-F5BA-4F9C-80A1-31F10343EB63}"/>
      <setting name="EIWorkflowStateCreatedID" value="{C1C6DDFC-BB02-4729-AB0D-D3B12D2D2C10}"/>
      <setting name="EIWorkflowStateFinalID" value="{78EDA66A-CE49-494F-9F9A-882AADF90B65}"/>
    </settings>
  </sitecore>
</configuration>