<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  SITECORE SERVICES ALLOW ANONYMOUS USER
            Specifies whether anonymous users will be permitted to access the Sitecore Item Web API services
            Default: false      
      -->
      <setting name="Sitecore.Services.AllowAnonymousUser">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <!--  SITECORE SERVICES ANONYMOUS USER
            Specifies the user to impersonate if a request from an anonymous user is permitted to 
            access the Sitecore Item Web API services
            Default: sitecore\ServicesAPI   = sitecore\ATDWUser    
      -->
      <setting name="Sitecore.Services.AnonymousUser">
        <patch:attribute name="value">sitecore\ServicesAPI</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
