@model events.tac.local.Areas.ATDW.Models.CategoryClassificationsModel

@{
    ViewBag.Title = "Category Classifications Importer";
    Layout = "~/Areas/ATDW/Views/Shared/Layout.cshtml";
}

<h2>
    ATDW Category Classifications Importer
</h2>

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>@Model.ErrorMessage</strong>
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>@Model.SuccessMessage</strong>
    </div>
}

<p>
    Please select the category to import classifications for from the list below.
</p>

<hr />
@if (Model.CategoriesAvailable.Count > 0)
{
    using (Html.BeginForm("CategoryClassificationsImporter", "AtdwImporter", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="SelectedCategory" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" id="SelectedCategory" name="SelectedCategory">
                    <option value="">
                        Please select...
                    </option>
                    @foreach (var categoryItem in Model.CategoriesAvailable)
                    {
                        <option value="@categoryItem.Value">
                            @categoryItem.Text
                        </option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="importClassificationsBtn">
                    Import Classifications
                </button>
            </div>
        </div>
    }
}

