@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<main>
    
    <header class="page-header">
        <!-- [Homepage Carousell] -->
        @Html.Sitecore().Placeholder("carouselImages")
        <!-- [/Homepage Carousell] -->
    </header>

    @Html.Sitecore().Placeholder("pageContent")
</main>