@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<header>
    <h1>
        @Html.Sitecore().Field("ContentHeading")
    </h1>
</header>

<div class="lead">
    @Html.Sitecore().Field("ContentIntro")
</div>

<div class="article image">
    @Html.Sitecore().Field("Page-Image", new { mw = "1000", mh = "568", @class = "img-responsive" })
</div>

<div class="lead">
    @Html.Sitecore().Field("Content-Body")
</div>
