@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.WebControls
@using Sitecore.Data.Items;
@model RenderingModel
@{
    var backgroundImage = "/Images/climbing-events.jpg";
    var currentItem = RenderingContext.Current.ContextItem;
    if (currentItem.Fields["DecorationBanner"] != null)
    {
        MediaItem bannerMediaItem = currentItem.Fields["DecorationBanner"].Item;
        var bannerField = currentItem.Fields["DecorationBanner"].ToString();
        if (!string.IsNullOrWhiteSpace(bannerField))
        {
            var database = Sitecore.Context.Database;
            var bannerItem = database.GetItem(bannerField);
            if (bannerItem != null)
            {
                MediaItem mediaItem = bannerItem;
                var imageSrc = Sitecore.Resources.Media.MediaManager.GetMediaUrl(mediaItem);
                if (imageSrc != null)
                {
                    backgroundImage = imageSrc;
                }
            }
        }
    }

}

<main>
    <header class="page-header bg-media bg-parallax" style="background-image: url(@backgroundImage)">
        <div class="container">
            <!-- [Breadcrumb Navigation] -->
            @Html.Sitecore().Placeholder("pageHeader")
            <!-- [/Breadcrumb Navigation] -->

        </div>
    </header>
    <section class="page-header">
        <div class="container">
            <!-- [Two Columns] -->
            <div class="row">
                <div class="col-lg-4">
                    <aside>
                        @Html.Sitecore().Placeholder("pageSide")
                    </aside>
                </div>

                <div class="col-lg-8">
                    @Html.Sitecore().Placeholder("pageContent")
                </div>
            </div>
            <!-- [/Two Columns] -->
        </div>
    </section>
</main>